CREATE TABLE [dbo].[auth_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nchar](10) NOT NULL,
 CONSTRAINT [PK_auth_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
